- name: Update Database IP
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    # Pulls from inventory file
    db_ip: "{{ groups['database'][0] }}"
    properties_file: "/var/lib/jenkins/workspace/user-mngt/src/main/resources/application.properties"

  tasks:
    - name: "Update IP in spring.datasource.url"
      ansible.builtin.replace:
        path: "{{ properties_file }}"
        regexp: '(jdbc:mysql://)(localhost|[0-9.]+)'
        replace: "\\g<1>{{ db_ip }}"
      register: result

    - name: "Hardcode Server Port to 8081"
      ansible.builtin.lineinfile:
        path: "{{ properties_file }}"
        regexp: '^server.port='
        line: "server.port=8081"
        create: yes
    
    - name: "Add AWS S3 Configuration Block"
      ansible.builtin.blockinfile:
        path: "{{ properties_file }}"
        marker: "# {mark} AWS CONFIGURATION"
        block: |
          # AWS S3 Configuration
          aws.s3.bucket-name=
          aws.s3.region=us-east-1
          aws.access-key=
          aws.secret-key=

          # File upload limits
          spring.servlet.multipart.max-file-size=5MB
          spring.servlet.multipart.max-request-size=5MB
        create: yes    
